name: build
on: ['push']

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint:ci

      - name: Start Spanner Emulator
        run: docker compose up -d

      - name: Test
        run: npm t
  #
  #      - name: Coveralls
  #        uses: coverallsapp/github-action@master
  #        with:
  #          github-token: ${{ secrets.GITHUB_TOKEN }}
  #          path-to-lcov: ./.coverage/lcov.info

  release:
    name: Release
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - name: Install dependencies
        run: |
          npm ci
          npm run build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
